@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import "tailwindcss";

/* =========================
   THEME TOKENS
   ================
   ========= */

/* THEME LIGHT  */   
:root {
  --color-bg: hsl(0 0% 99%);
  --color-surface: hsl(0 0% 100%);
  --color-text: hsl(200 15% 8%);
  --color-text-muted: hsl(0 0% 50%);
}

/* THEME DARK */
html.dark {
  --color-bg: hsl(207 26% 17%);
  --color-surface: hsl(209 23% 22%);
  --color-text: hsl(0 100% 100%);
  --color-text-muted: hsl(0 0% 70%);
}
